/** Theme: default **/
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: #444;
  background: #f7f7f7;
}
pre[class*="language-"] {
  border: none;
  border-left: 3px solid #ddd;
}
.code-toolbar .toolbar-item {
  color: #666;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #606f7d;
}

.token.punctuation {
  color: #6a6a6a;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #517900;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #996221;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #bf3551;
}

.token.regex,
.token.important,
.token.variable {
  color: #604dbd;
}
